footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  min-height: 2rem;
  background-color: rgb(83, 100, 100);
  color: aliceblue;
}
