footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  min-height: 2rem;
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
}
