header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d6d6;
  z-index: 1;
  box-shadow: 0px 5px 40px black;
}
header input {
  margin: 0.5rem;
  border: none;
  background-color: inherit;
  font-size: 2rem;
  text-align: center;
}
